html, body, #container, #message {
    height: 100%;
    width: 100%;
    font-family: 'arial';
    text-align: center;
    margin: 0;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 40px;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }